@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="fxt-template-animation fxt-otp-layout1">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 fxt-bg-color">
                <div class="fxt-content">
                    <div class="fxt-header">
                        <a href="#" class="fxt-otp-logo"><img src="http://kutuphane.halic.edu.tr/Templates/Default/assets/img/desktop-footer-logo.png" alt="Otp Logo"></a>
                    </div>
                    <div class="fxt-form row">
                        <div class="fxt-form-btn fxt-transformY-50 fxt-transition-delay-4 col-lg-6">
                            <a style="background: #33bd9e" href="#" class="fxt-btn-fill a-span">
                                <span style="float: left;margin-left: 34px;color: white;">01</span><br>
                                <h2 style="margin-top: 20px;text-align: left;font-weight: bold;color: white;">Öğrenci Bilgi Sistemi</h2>
                                <p style="color: white; text-align: left">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore</p>
                            </a>
                        </div>
                        <div class="fxt-form-btn fxt-transformY-50 fxt-transition-delay-4 col-lg-6">
                            <a style="background: #6287b2" href="#" class="fxt-btn-fill a-span">
                                <span style="float: left;margin-left: 34px;color: white;">02</span><br>
                                <h2 style="margin-top: 20px;text-align: left;font-weight: bold;color: white;">Personel Bilgi Sistemi</h2>
                                <p style="color: white; text-align: left">Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore</p>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
